/*===========TESTIMONIAL SECTION============*/

.testimonial-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.testi-box {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0 15px;
}

.testi-slider {
  border-radius: 5px;
  overflow: hidden;
}

.testi-slider-container {
  display: flex;
  transition: margin 1s ease;
  text-align: center;
}

.testi-item {
  padding: 30px;
  text-align: center;
  position: relative;
}
.testi-item i {
  position: absolute;
  font-size: 30px;
  color: var(--text-black-600);
  opacity: 0.1;
}

.testi-item i.left {
  left: 5px;
  top: 5px;
}
.testi-item i.right {
  right: 5px;
  bottom: 5px;
}

.testi-item p {
  font-size: 16px;
  line-height: 26px;
  color: var(--text-black-600);
  margin: 0 0 30px;
}

.testi-item img {
  max-width: 70px;
  display: inline-block;
  width: 100%;
}

.testi-item span {
  display: block;
  margin: 10px 0 0;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-700);
  text-transform: capitalize;
}

.testi-slider-nav {
  margin-top: 30px;
  text-align: center;
}
.testi-slider-nav span {
  height: 40px;
  width: 40px;
  color: var(--skin-color);
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.testi-slider-nav span::after {
  border-radius: 50%;
}

.testi-slider-nav span i {
  line-height: 40px;
}
